/* css ngay thang */
.headlinesdate {
    background: #f5ce31;
    border-radius: 50%;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.headlinesdate .headlinesday {
    border-bottom: 1px solid #000;
}

.headlinesdate .headlinesdm,
.headlinesdate {
    float: left;
    font-family: 'Prata', serif;
}

.headlines .headlinesdate {
    font-size: 0.8em;
    width: 15%;
    min-width: 55px;
    display: table-cell;
    vertical-align: middle;
}

.headlinesdate .headlinesday,
.headlinesmonth {
    line-height: 1.7em;
}

.headlinesdate .headlinesday {
    border-bottom: 1px solid #000;
}

.headlinesdate .headlinesyear {
    line-height: 3.5em;
    float: left;
    margin-left: 3px;
}

/* css title */

.detail .title h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/* line */

.detail .overviewline {
    border-bottom: 1px solid #000;
    margin: 25px 0 15px;
    position: relative;
}

.detail .overviewline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    border-width: 12px 12px 0;
    border-style: solid;
    border-color: #000 transparent;
    display: block;
    width: 0;
}

.detail .overviewline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 51px;
    border-width: 11px 11px 0;
    border-style: solid;
    border-color: #d1e4dd transparent;
    display: block;
    width: 0;
}

.page-ct-search{
	background-color: #fff;
	text-align: center;
	padding: 50px 0;
}
.page-description-search{
	color:red;
	font-weight:bold;
}
.page-title{
	font-size:40px
}
.search-form{
	align-items:center;
}
.search_form .form{
	padding: 15px;
	background:#fff;
	
}
.search_form .search-field{
	margin:0;
	margin-right: 10px;
	border:none;
}
.search-form .search-submit{
	margin:0;
}
.search-form .img-search{
	display:flex;
	width:30px;
	height:30px;
}
.search_form .search-submit{
	padding:9px 20px
}

